a {
  color: var(--second-color);
  text-decoration: none;
}
.project-content {
  max-width: 40vw;
  display: block;
  position: absolute;
  top: 50vh;
  left: 50vw;
}

@media only screen and (max-width: 700px) {
  .project-content {
    display: block;
    top: 105vh;
    left: 2vw;
  }
}
