@import "../../general.css";
@import "../../App.css";



/* fade content on image */
.content{ 
    position:absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; background:url('../../Oritpic.jpeg'); 
    background-repeat: no-repeat;
    background-size: 40vw;
    
}
.FadeAway{
    position: absolute; top:0px; left:0px; width:60vw; height:100vh;
        background:transparent;
        background: linear-gradient(top, rgba( 255, 255, 255, 255 ) 0%, var(--transparent-color) 100%);
        background: -moz-linear-gradient(top , rgba( 255, 255, 255, 0) 0%, var(--transparent-color) 100% );
        background: -ms-linear-gradient(top, rgba( 255, 255, 255, 0 ) 0%, var(--transparent-color) 100% );
        background: -o-linear-gradient( top , rgba( 255, 255, 255, 0 ) 0%, var(--transparent-color) 100% );
        background: -webkit-linear-gradient( top , rgba( 255, 255, 255, 0 ) 0%, var(--transparent-color) 100% );
        /* background: -webkit-linear-gradient( left , rgba( 255, 255, 255, 0 ) 0%, var(--transparent-color) 45% ); */
        
}
.FadeAway-left{
    position: absolute; top:0px; left:0px; width:60vw; height:100vh;
        background:transparent;
        background: linear-gradient(left, rgba( 255, 255, 255, 255 ) 0%, var(--transparent-color) 100%);
        background: -moz-linear-gradient(left , rgba( 255, 255, 255, 0) 0%, var(--transparent-color) 100% );
        background: -ms-linear-gradient(left, rgba( 255, 255, 255, 0 ) 0%, var(--transparent-color) 100% );
        background: -o-linear-gradient( left , rgba( 255, 255, 255, 0 ) 0%, var(--transparent-color) 100% );
        background: -webkit-linear-gradient( left , rgba( 255, 255, 255, 0 ) 0%, var(--transparent-color) 65% );
        /* background: -webkit-linear-gradient( left , rgba( 255, 255, 255, 0 ) 0%, var(--transparent-color) 45% ); */
       
        
}
    




.discription{
    display:block;
    position: relative;
    top: 20vh;
    left: 50vw;
}
.aboutTitle{
    font-size: 3rem;
    font-weight: 700;
    word-spacing: -.1em;
    letter-spacing: -.05em;
    margin-right: -25vw;
    padding-right: 1rem;
    color: var(--third-color); 

}
.aboutContent{
    font-size: 1rem;
    font-weight: 700;
    word-spacing: -.1em;
    letter-spacing: -.05em;
    margin-right: -25vw;
    padding-right: 1rem;
    color: var(--second-color);
}
.aboutSkillsTitle {
    font-size: 1rem;
    font-weight: 700;
    word-spacing: -.1em;
    letter-spacing: -.05em;
    margin-right: -25vw;
    padding-right: 1rem;
    color: var(--second-color);
    opacity: 0.8;
    
}
.aboutSkills{
    font-size: 0.5rem;
    
    margin-right: -25vw;
    padding-right: 1rem;
    font-family: Verdana;
    color: var(--second-color);
    opacity: 0.8;
}


#GitHubIcon{
    color: var(--second-color);
    width: 16px;
}
#LinkedInIcon{
    color: var(--second-color);
    top: 60vh;
    left:52vw;
    width: 17px;
    

}
.buttonResume{
    font-family: Roboto;
    font-size: 0.5rem;
    border-radius: 5px;
    color: var(--main-color);
    background-color:var(--second-color); ;
    opacity: 0.4;

}
#rectangle{
    position: relative;
    top: 50vh;
    left: 46.3vw;
    width: 0.3px;
    height: 200px;
    background: var(--third-color);
    
  }
.lineAnimation{
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius:25px; 
    border:solid 0.25px var(--third-color);
    background-color: var(--main-color);
    position: relative;
    top: 50vh;
    left: 50vw;
    animation-name: example;
    animation-duration: 3.5s;
    display: none;
}

      
@keyframes example {
    0%  {background-color:yelow; left:45vw; top:100px;}
    100% {background-color:yelow; left:45vw; top:-100px;}
}


@media only screen and (max-width: 700px) {

    .content{ 
        position:absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
         background:url('../../Oritpic.jpeg'); 
        background-repeat: no-repeat;
        background-size: 100vw; 
        
    }
    
    .FadeAway-left{
        display: none;
            
    }
    .FadeAway{
        position: absolute; top:0px; left:0px; width:100vw; height:100vh;
            background:transparent;
            background: linear-gradient(top, rgba( 255, 255, 255, 255 ) 0%, var(--transparent-color) 100%);
            background: -moz-linear-gradient(top , rgba( 255, 255, 255, 0) 0%, var(--transparent-color) 100% );
            background: -ms-linear-gradient(top, rgba( 255, 255, 255, 0 ) 0%, var(--transparent-color) 100% );
            background: -o-linear-gradient( top , rgba( 255, 255, 255, 0 ) 0%, var(--transparent-color) 100% );
            background: -webkit-linear-gradient( top , rgba( 255, 255, 255, 0 ) 0%, var(--transparent-color) 70% );
            /* background: -webkit-linear-gradient( left , rgba( 255, 255, 255, 0 ) 0%, var(--transparent-color) 45% ); */
    }      
    
    .discription{
        display:block;
        top: 55vh;
        left: 0vw;;
        
    }



}    