.contact {
  display: flex;
  position: absolute;
  top: 1vh;
  right: 1vw;
  color: var(--third-color);
}
#icon-github {
  color: var(--third-color);
  margin-left: 3px;
}
#icon-linkedin {
  color: var(--third-color);
  margin-left: 3px;
}

@media only screen and (max-width: 700px) {
  .contact {
    top: 1vh;
    right: 0vw;
    color: var(--third-color);
    background-color: rgba(0, 0, 0, 0.1);
  }
}
