@import "./general.css";


body{
  background-color:var(--main-color);
  color:var(--second-color);
  font-family:monospace;
  
}
#icon{
  color: var(--third-color);
  width: 24px;

}
.navdiv {
  text-align: right;
  background-color:var(--main-color);
  
  
  
}
#navdiv a{
  color: var(--third-color);
  text-decoration-line: none;
  font-size: 12px;
  
}
p{
  
  display: inline;
  margin-left: 8px;
}
